**/terraform.tfstate*
**/.terraform/
**/backend.tf
**/terraform.tfvars
**/values-*.yaml
.kitchen
credentials.json
/.idea
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
# tf lock file
.terraform.lock.hcl
